body {
  background-color: #fff0f5;
  font-family: "Inter", sans-serif;
  color: #333;
  text-align: center;
}

h1 {
  color: #b34770;
  margin-bottom: 1rem;
}

.arama-input {
  padding: 10px;
  width: 50%;
  border: 2px solid #ffc1cc;
  border-radius: 10px;
  margin-right: 10px;
}

.dropdown {
  appearance: auto; /* Tarayıcının varsayılan stilini kullan */
  -webkit-appearance: menulist; /* Safari için */
  -moz-appearance: menulist; /* Firefox için */
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: white;
  color: black;
  padding: 3px 5px;
  font-size: 14px;
  cursor: pointer;
}


.dropdown:hover,
.dropdown:focus {
  background-color: #fff; /* Üzerine gelince de beyaz kalsın */
  color: #333;
  border-color: #ff80a1; /* Hafif pembe kenar vurgusu */
  outline: none;
}


.liste {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.kitap-karti {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffe6eb;
  padding: 12px 20px;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.kitap-karti:hover {
  transform: scale(1.03);
}

.btn-ekle,
.btn-favori {
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}

.btn-ekle {
  background-color: #ffd6dc;
  color: #b34770;
}

.btn-favori {
  background-color: #b34770;
  color: white;
}

.favoriler {
  background-color: #ffe6eb;
  padding: 15px;
  margin-top: 2rem;
  border-radius: 12px;
  width: 60%;
  margin-inline: auto;
}

.favoriler h3 {
  color: #b34770;
}

.favoriler ul {
  list-style: none;
  padding: 0;
}

.favoriler li {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favoriler button {
  background-color: #ffb6c1;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
  color: #fff;
}
